
@import 'https://fonts.googleapis.com/css?family=Open+Sans|Fugaz+One';

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
	  background-color: #F2F2F2;
	  color: #000;
	  font-family:roboto;
}
#scrollimg{
  margin-top: -2%;
}

#heading { 
	font-family: 'Lobster', cursive;
	font-weight: 500;
	text-align: center;
	font-size: 50px;
	margin-top: 5px;
	color: #4CAF50;
	border-radius: 5px solid black; 
} 

.card.medium .card-image{
	max-height:55%;
}

nav .brand-logo {
	padding-left: 15px;
}
.side-nav a:hover{
	color:#000 !important;
}

#name {
	 text-align: center;
	 font-size: 35px;
	 font-weight: 500;
	 font-family: 'Kavoon', cursive;
}
.card .large{
  height:450px !important;
}
.row {
	margin-left: 4%;
	margin-top: 3%;
  height: 30%;
}

.card .card-content .card-title {
    line-height: 25px;
}

.card:hover {
	 box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	-webkit-transform:scale(1.00);
	transform:scale(1.00);
}

.cardnames{
    margin-top: 30%;
    margin-left: 7%;
}
/*********** Card ***************/
#ci {
    border-radius: 50%;
}

.card.horizontal #ci img {
    max-width: 100%;
    border-radius: 50%;
    width: auto;
    height: 200px;
    margin-left: 15%;
  }

  .card.horizontal .card-stacked .card-content {
      margin-top: 7%;
    margin-left: 10%;
    font-size: 18px;
}

.card .card-action {
    margin-left: 10%;
}
/*********** Preloader **************/

#logo{
  color: #4CAF50; 
  text-align: center;
}

#preloader { background: #222; }
#loader {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  margin: auto;
  #spinner {
    stroke: $colour;
    stroke-width: $width;
    stroke-linecap: $linecap;
    stroke-dasharray: 285;
    animation: load $ease infinite;
  }
}
@keyframes load { to { stroke-dashoffset: 500; } }

/*********** Thumbnail Css **********/

.thumbnail{
	width:100%;
	height:50%;
	-webkit-transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	-o-transition:all 0.5s ease;
	-ms-transition:all 0.5s ease;
	transition:all 0.5s ease;
}
.thumbnail:hover{
	-webkit-transform:scale(1.08);
	transform:scale(1.08);
}

/*********** Parallax Css **********/

.parallax-container {
	height: 450px;
	
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: auto;
}

#par1 {
	height: 350px;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: auto;
}

.card{
	-webkit-transition: all 0.5s ease;
 -moz-transition: all 0.5s ease;
 -o-transition: all 0.5s ease;
}
p .article{
	height:80%;
}

/***** Card Reveal Css *****/

.banner
{
    z-index: -1;
    position: relative;
    margin-top: -222px;
    width: 116%;
    right: 8%;
    height: 60%;
    background-image: url("https://snap-photos.s3.amazonaws.com/img-thumbs/960w/RQ2Z75PQIN.jpg");
    background-size: cover;
    border-bottom: solid 1px lightgrey;
}


.photo
{
    z-index: 3;
    position: relative;
    border-radius: 50%;
    height: 52%;
    width: 68%;
    background-color: white;
    margin: 0 auto;
    //background-image: url("https://filmshotfreezer.files.wordpress.com/2011/07/untitled-1.jpg");
    background-size: cover;
    background-position: 50% 50%;
    top: 50px;
    right: 7px;
    -webkit-box-shadow: inset 0px 0px 5px 1px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0px 0px 5px 1px rgba(0,0,0,0.3);
    box-shadow: inset 0px 0px 5px 1px rgba(0,0,0,0.3);
   
}

.imgs{
    border: 0.5px solid lightgrey;
    height: 99%;
    width: 102%;
    border-radius: 50%;
    box-shadow: 2px 0px 5px 2px rgba(0,0,0,0.3);
    -webkit-box-shadow:  2px 0px 5px 2px rgba(0,0,0,0.3);
    -moz-box-shadow:  2px 0px 5px 2px rgba(0,0,0,0.3);
}

b{
	font-size: 20px;
}


/********  Starting of Heading text  *********/

.text--transparent {
  fill: transparent;
}

.anim-shape {
  -webkit-transform-origin: 0 150px;
  -ms-transform-origin: 0 150px;
  transform-origin: 0 150px;
  -webkit-transform: scale(0, 1) translate(0, 0);
  -ms-transform: scale(0, 1) translate(0, 0);
  transform: scale(0, 1) translate(0, 0);
  -webkit-animation: moving-panel 6s infinite alternate;
  animation: moving-panel 6s infinite alternate;
}

.shape{
  fill: #388e3c;
}
.colortext .anim-shape:nth-child(1) {
  fill: #388e3c;
}
.colortext .anim-shape:nth-child(2) {
  fill: #283593;
}
.colortext .anim-shape:nth-child(3) {
  fill: #F5A503;
}
.colortext .anim-shape:nth-child(4) {
  fill: #5D4037;
}
.colortext .anim-shape:nth-child(5) {
  fill: #56D9CD;
}
.colortext .anim-shape:nth-child(6) {
  fill: #536dfe;
}


@-webkit-keyframes moving-panel {
  100% {
    -webkit-transform: scale(1, 1) translate(20px, 0);
    transform: scale(1, 1) translate(20px, 0);
  }
}
@keyframes moving-panel {
  100% {
    -webkit-transform: scale(1, 1) translate(20px, 0);
    transform: scale(1, 1) translate(20px, 0);
  }
}
/* Other stuff */

#title {
  background:  #F2F2F2;
  font-family: 'Fugaz One', cursive;
  font-size: 50px;
  font-weight: 500;
   max-height: 3%;
}

svg {
  position: absoulte;
  width: 100%;
  height: 30%;
}

/*********** For Footer ***********/
.footerul{
    text-align: justify;
    line-height: 25px;
    margin-top: 5%;
    font-size: 16px;
}




/************* faq css ************/  


/************ guest css ***********/

@import 'https://fonts.googleapis.com/css?family=Open+Sans|Fugaz+One';

.guest h2 {
    font-size: 3.56rem;
    line-height: 110%;
    margin: 1.78rem 0 1.424rem 0;
}

.guest .card-image {
    border-radius: 50%;
}

.guest .card.horizontal .card-image img {
    max-width: 100%;
    border-radius: 50%;
    width: auto;
    height: 200px;
    margin-left: 15%;
  }

  .guest .card.horizontal .card-stacked .card-content {
      margin-top: 7%;
    margin-left: 10%;
    font-size: 18px;
}

.guest .card .card-action {
    margin-left: 10%;
}

/*********** Heading Css ***********/


.guest #title {
  background:  #F2F2F2;
  font-family: 'Fugaz One', cursive;
  font-size: 50px;
  font-weight: 500;
   max-height: 3%;
}



/*********** Parallax Css **********/

.parallax-container {
  height: 450px;
  
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: auto;
}

.guest #par1 {
  height: 350px;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: auto;
}

.guest .card{
  -webkit-transition: all 0.5s ease;
 -moz-transition: all 0.5s ease;
 -o-transition: all 0.5s ease;
}
p .article{
  height:80%;
}


/********  Starting of Heading text  *********/

.guest .text--transparent {
  fill: transparent;
}

.guest .anim-shape {
  -webkit-transform-origin: 0 150px;
  -ms-transform-origin: 0 150px;
  transform-origin: 0 150px;
  -webkit-transform: scale(0, 1) translate(0, 0);
  -ms-transform: scale(0, 1) translate(0, 0);
  transform: scale(0, 1) translate(0, 0);
  -webkit-animation: moving-panel 6s infinite alternate;
  animation: moving-panel 6s infinite alternate;
}

.guest .shape{
  fill: #388e3c;
}
.colortext .anim-shape:nth-child(1) {
  fill: #388e3c;
}
.colortext .anim-shape:nth-child(2) {
  fill: #283593;
}
.colortext .anim-shape:nth-child(3) {
  fill: #F5A503;
}
.colortext .anim-shape:nth-child(4) {
  fill: #5D4037;
}
.colortext .anim-shape:nth-child(5) {
  fill: #56D9CD;
}
.colortext .anim-shape:nth-child(6) {
  fill: #536dfe;
}


@-webkit-keyframes moving-panel {
  100% {
    -webkit-transform: scale(1, 1) translate(20px, 0);
    transform: scale(1, 1) translate(20px, 0);
  }
}
@keyframes moving-panel {
  100% {
    -webkit-transform: scale(1, 1) translate(20px, 0);
    transform: scale(1, 1) translate(20px, 0);
  }
}


/*********** For Footer ***********/
.footerul{
    text-align: justify;
    line-height: 25px;
    margin-top: 5%;
    font-size: 16px;
}





/******* preloader*****/
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'Blokk';
  src: url('../fonts/blokk/BLOKKRegular.eot');
  src: url('../fonts/blokk/BLOKKRegular.eot?#iefix') format('embedded-opentype'),
     url('../fonts/blokk/BLOKKRegular.woff') format('woff'),
     url('../fonts/blokk/BLOKKRegular.svg#BLOKKRegular') format('svg');
}

@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'feather';
  src:url('../fonts/feather/feather.eot?-9jv4cc');
  src:url('../fonts/feather/feather.eot?#iefix-9jv4cc') format('embedded-opentype'),
    url('../fonts/feather/feather.woff?-9jv4cc') format('woff'),
    url('../fonts/feather/feather.ttf?-9jv4cc') format('truetype'),
    url('../fonts/feather/feather.svg?-9jv4cc#feather') format('svg');
}

.ip-header {
  position: fixed;
  top: 0;
  z-index: 100;
  min-height: 480px;
  width: 100%;
  height: 100%;
  background: #f1f1f1;
}

.ip-header h1 {
  margin: 0;
}

.ip-logo,
.ip-loader {
  position: absolute;
  left: 0;
  width: 100%;
  opacity: 0;
  cursor: default;
  pointer-events: none;
}

.ip-logo {
  top: 0;
  height: 100%;
  -webkit-transform: translate3d(0,25%,0);
  transform: translate3d(0,25%,0);
}

.ip-loader {
  bottom: 20%;
}

.ip-header .ip-inner {
  display: block;
  margin: 0 auto;
}

.ip-header .ip-logo svg {
  min-width: 320px;
  max-width: 480px;
  width: 25%;
}

.ip-header .ip-logo svg path {
  fill: #ef6e7e;
}

.ip-header .ip-loader svg path {
  fill: none;
  stroke-width: 2;
}

.ip-header .ip-loader svg path.ip-loader-circlebg {
  fill: #3E2723;
  
}


.ip-header .ip-loader svg path.ip-loader-c {
  -webkit-transition: stroke-dashoffset 0.2s;
  transition: stroke-dashoffset 0.2s;
   fill: #F44336;
}

.ip-header .ip-loader svg path.ip-loader-circle {
  -webkit-transition: stroke-dashoffset 0.2s;
  transition: stroke-dashoffset 0.2s;
   fill: #00AEEF;
}



/* Content */
.ip-main {
  overflow: hidden;
  margin: 0 auto;
  padding: 160px 0 10em 0;
  max-width: 1100px;
  width: 90%;
}

.ip-main h2 {
  margin: 0;
  padding: 0.5em 0 1em;
  color: #be4856;
  text-align: center;
  font-size: 4.25em;
  font-size: 4vw;
  line-height: 1;
}



.box {
  float: left;
  padding: 3.5em;
  width: 33.3%;
  font-size: 0.7em;
  line-height: 1.5;
}

.box p {
  font-family: 'Blokk', Arial, sans-serif;
}

[class^="icon-"]::before, 
[class*=" icon-"]::before {
  display: block;
  margin-bottom: 0.5em;
  padding: 0.5em;
  border-radius: 5px;
  background: #dfdfdf;
  color: #fff;
  text-align: center;
  text-transform: none;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  font-size: 5em;
  font-family: 'feather';
  line-height: 1;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bell:before {
  content: "\e006";
}

.icon-cog:before {
  content: "\e023";
}

.icon-heart:before {
  content: "\e024";
}

/* Animations */

/* Initial animation of header elements */
.loading .ip-logo,
.loading .ip-loader {
  opacity: 1;
  -webkit-animation: animInitialHeader 1s cubic-bezier(0.7,0,0.3,1) both;
  animation: animInitialHeader 1s cubic-bezier(0.7,0,0.3,1) both;
}

.loading .ip-loader {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

@-webkit-keyframes animInitialHeader {
  from { opacity: 0; -webkit-transform: translate3d(0,800px,0); }
}

@keyframes animInitialHeader {
  from { opacity: 0; -webkit-transform: translate3d(0,800px,0); transform: translate3d(0,800px,0); }
}

/* Header elements when loading finishes */
.loaded .ip-logo,
.loaded .ip-loader {
  opacity: 1;
}

.loaded .ip-logo {
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-animation: animLoadedLogo 1s cubic-bezier(0.7,0,0.3,1) forwards;
  animation: animLoadedLogo 1s cubic-bezier(0.7,0,0.3,1) forwards;
}

@-webkit-keyframes animLoadedLogo {
  to { -webkit-transform: translate3d(0,100%,0) translate3d(0,50px,0) scale3d(0.65,0.65,1); }
}

@keyframes animLoadedLogo {
  to { -webkit-transform: translate3d(0,100%,0) translate3d(0,50px,0) scale3d(0.65,0.65,1); transform: translate3d(0,100%,0) translate3d(0,50px,0) scale3d(0.65,0.65,1); }
}

.loaded .ip-loader {
  -webkit-animation: animLoadedLoader 0.5s cubic-bezier(0.7,0,0.3,1) forwards;
  animation: animLoadedLoader 0.5s cubic-bezier(0.7,0,0.3,1) forwards;
}

@-webkit-keyframes animLoadedLoader {
  to { opacity: 0; -webkit-transform: translate3d(0,-100%,0) scale3d(0.3,0.3,1); }
}

@keyframes animLoadedLoader {
  to { opacity: 0; -webkit-transform: translate3d(0,-100%,0) scale3d(0.3,0.3,1); transform: translate3d(0,-100%,0) scale3d(0.3,0.3,1); }
}

/* Change the color of the logo */
.loaded .ip-logo svg path {
  -webkit-transition: all 0.5s ease 0.3s;
  transition: all 0.5s ease 0.3s;
  fill: #fff;
}

/* Header animation when loading finishes */
.loaded .ip-header {
  -webkit-animation: animLoadedHeader 1s cubic-bezier(0.7,0,0.3,1) forwards;
  animation: animLoadedHeader 1s cubic-bezier(0.7,0,0.3,1) forwards;
}

@-webkit-keyframes animLoadedHeader {
  to { -webkit-transform: translate3d(0,-100%,0); }
}

@keyframes animLoadedHeader {
  to { -webkit-transform: translate3d(0,-100%,0); transform: translate3d(0,-100%,0); }
}

/* Content animations */
.loaded .ip-main h2,
.loaded .ip-main .browser,
.loaded .ip-main .browser .box,
.loaded .codrops-demos {
  -webkit-animation: animLoadedContent 1s cubic-bezier(0.7,0,0.3,1) both;
  animation: animLoadedContent 1s cubic-bezier(0.7,0,0.3,1) both;
}

.loaded .ip-main .browser,
.loaded .ip-main .browser .box:first-child {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.loaded .ip-main .browser .box:nth-child(2) {
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
}

.loaded .ip-main .browser .box:nth-child(3) {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

@-webkit-keyframes animLoadedContent {
  from { opacity: 0; -webkit-transform: translate3d(0,200px,0); }
}

@keyframes animLoadedContent {
  from { opacity: 0; -webkit-transform: translate3d(0,200px,0); transform: translate3d(0,200px,0); }
}

/* Change layout class for header */
.layout-switch .ip-header {
  position: absolute;
}

/* No JS */
.no-js .ip-header {
  position: relative;
  min-height: 0px;
}

.no-js .ip-header .ip-logo {
  margin-top: 20px;
  height: 180px;
  opacity: 1;
  -webkit-transform: none;
  transform: none;
}

.no-js .ip-header .ip-logo svg path {
  fill: #fff;
}

/* Media queries */

@media screen and (max-width: 45em) {

  .ip-main h2 {
    font-size: 2.25em;
    font-size: 10vw;
  }

  .box {
    width: 100%%;
  }

}
